modules = ["dotnet-8.0"]
[nix]
channel = "stable-24_05"

[workflows]
runButton = "Run server"

[[workflows.workflow]]
name = "Run server"
author = 21671906

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "dotnet run"

[[ports]]
localPort = 3000
externalPort = 80
